RAILS_ENV=development
NODE_ENV=development

POSTGRES_DB=berufe_development
POSTGRES_USER=berufe
POSTGRES_PASSWORD=berufe_local_only
DATABASE_URL=postgresql://berufe:berufe_local_only@db:5432/berufe_development

RAILS_MAX_THREADS=5
DB_POOL=5
GOOD_JOB_EXECUTION_MODE=external
GOOD_JOB_MAX_THREADS=2
GOOD_JOB_QUEUES=default
